fieldset{
	width: 30%;
	margin: 4px;
}

label{
	display: inline-block;
	width: 100px;
}

.a1 input{
	margin: 6px;
	width: 250px;
}

.a2 input{
	margin: 6px;
	width: 250px;
}

select{
	margin: 6px;
	width: 258px;
}

.personal{
	display: flex;
	align-items: center;
}

.personal label {
	margin-right: 10px;
}

.but{
	margin: 4px;
}

span{
	color: red;
}

.fac{
	margin: 6px;
}